/*

!/config
!/datapacks
!/mods
!/resourcepacks
!/shaderpacks
!.gitignore

/config/sodium-fingerprint.json
/config/stack-to-nearby-chests/locked-slots/*
/options.txt
/realms_persistence.json
/usercache.json