/*

!.gitignore
!/config
!/datapacks
!/emotes
!/mods
!/resourcepacks
!/shaderpacks
!options.txt

/config/sodium-fingerprint.json
/config/stack-to-nearby-chests/locked-slots/*
/realms_persistence.json
/usercache.json